<?xml version="1.0" encoding="UTF-8"?>

<suite name="SambaSafety Test Suite" verbose="1">
	<listeners>
		<listener class-name="com.ExtentReportListener.ExtentReport" />
	</listeners>

	<test name="SambaSafety regression Test">
		<classes>
			<class name="sambasafety.testcases.HomePageTest" />
			<class name="sambasafety.testcases.HomePageSearchTest" />
			<class name="sambasafety.testcases.SubmitTicketTest" />
			<class name="sambasafety.testcases.FindBrokenLinksTest" />
			<class name="sambasafety.testcases.FindBrokenImagesTest" />

		</classes>
	</test>
</suite>
